@font-face {
    font-family: 'Palatino Linotype';
    src: url('https://mh7111997.github.io/Palatino%20Linotype/palatinolinotype_roman.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palatino Linotype';
    src: url('https://mh7111997.github.io/Palatino%20Linotype/palatinolinotype_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Palatino Linotype';
    src: url('https://mh7111997.github.io/Palatino%20Linotype/palatinolinotype_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palatino Linotype';
    src: url('https://mh7111997.github.io/Palatino%20Linotype/palatinolinotype_bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-weight: 400;
  font-style: normal;
} */

body {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}

